<%= render 'shared/header' %>

<div class="message-contents">
  <ul class="message-lists">
    <li class="list">
     <div class="list-top">
      <div class="user-name">
        <div>ユーザー名：</div>
        <div>健太</div>
      </div>
      <div class="date">
        <div>日時：</div>
        <div>2010.10.10</div>
      </div>
     </div>
     <div class="list-content">自分は小学４年でピッチャーをやっています。もっと速い球が投げれるようになりたいのですが、どのように腕を振ったら良いですか？教えてください。お願いします。</div>
     <div class="list-buttom">
      <div class="">
        <div>世代：</div>
        <div>小学生</div>
      </div>
      <div class="">
        <div>ジャンル：</div>
        <div>投球</div>
      </div>
      <div class="">
        <div>体の部位：</div>
        <div>腕</div>
      </div>
      <div class="">
        <div>メッセージカテゴリー：</div>
        <div>アドバイスが欲しい</div>
      </div>
     </div>
    </li>
  </ul>
</div>

<%= render 'shared/footer' %>