header {
  background-color: gray;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 100px;
  padding: 10px;
}

.header-margin {
  padding-top: 100px;
}

.header-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-left h1 {
  color: white;
  padding: 10px;
  margin: 5px 10px;
  font-size: 20px;
  font-weight: 700;
}

.btn {
  text-decoration: none;
  background-color: white;
  padding: 10px;
  margin: 5px 10px;
  font-size: 11px;
  color: gray;
  border: 1px solid gray;
  font-weight: 900;
  border-radius:10px 10px 10px 10px;
  box-shadow: 5px 5px 0px 0px white;
}

.btn:active {
  box-shadow: none;
  position: relative;
  top: 5px;
  left: 5px;
}

 /* タブレット表示時 */
 @media (max-width: 1024px) {
   header {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
   }

   .header-margin {
    padding-top: 50px;
  }

  .btn {
    font-size: 1px;
    padding: 5px;
    margin: 3px 3px;
    transform:scale(0.8);
  }

  .header-left h1 {
    display: none;
  }
 }

 @media (max-width: 599px) {
   header {
     padding: 1px;
   }
  .btn {
    padding: 1px;
    margin: 1px;
  }
 }