/* 検索フォームのCSS */
.search-contents {
  background-color: lightblue;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.search-form {
  height: 40px;
  width: 500px;
  border: none;
  padding: 5px;
  margin-right: 10px;
}

.search-btn {
  height: 40px;
  width: 100px;
}

/* メッセージのタイトル */
.message-title{
  background-color: lightblue;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  color: white;
  border-bottom: 4px solid white;
}

/* メッセージの表示CSS */
.message-contents {
  background-color: lightblue;
  padding: 20px;
}

.message-box {
  width: 100%;
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
  border-radius:10px 10px 10px 10px;
}

.message-info {
  padding: 10px;
  border-bottom: 4px dotted lightblue;
}

.content {
  width: 100%;
  height: 150px;
  padding: 10px;
}

.tag {
  width: 250px;
}

.message-top {
  padding-bottom: 10px;
  border-bottom: 4px dotted lightblue;
}

.message-middle {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 4px dotted lightblue;
}

.message-show {
  text-decoration: none;
  color: blue;
}

.message-buttom {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

/* メッセージの編集削除リンクのCSS */
.message-edit-destroy {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  padding: 20px;
}

.message-btn {
  background-color: white;
  color: lightblue;
  text-decoration: none;
  padding: 10px;
  margin: 5px 10px;
  border: 1px solid lightblue;
  font-weight: 900;
  border-radius:10px 10px 10px 10px;
  box-shadow: 5px 5px 0px 0px white;
}

.message-btn:active {
  box-shadow: none;
  position: relative;
  top: 5px;
  left: 5px;
}

/* コメントのタイトル */
.comment-title{
  background-color: lightgreen;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  color: white;
  border-bottom: 4px solid white;
}


/* コメントの表示CSS */
.comment-contents {
  background-color: lightgreen;
  padding: 20px 80px 20px 80px;
}

.comment-box {
  background-color: white;
  border: 4px solid white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius:10px 10px 10px 10px;
}

.comment-top {
  padding-bottom: 20px;
  border-bottom: 2px dotted lightgreen;
}

.comment-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

/* コメントの入力フォームCSS */
.comment-form {
  background-color: lightgreen;
  padding: 20px 80px 20px 80px;
  text-align: center;
}

.comment-form-title {
  color: white;
  padding: 10px;
}

.comment-form-comment {
  width: 100%;
}

.comment-form-input {
  width: 90%;
  padding: 5px;
  border: none;
}

.comment-btn {
  background-color: white;
  color: lightgreen;
  text-decoration: none;
  padding: 10px;
  margin: 5px 10px;
  border: 1px solid lightgreen;
  font-weight: 900;
  border-radius:10px 10px 10px 10px;
  box-shadow: 5px 5px 0px 0px white;
}

.comment-btn:active {
  box-shadow: none;
  position: relative;
  top: 5px;
  left: 5px;
}

/* コメントの編集削除リンクのCSS */
.comment-edit-destroy {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding-top: 20px;
}

.comment-edit-btn {
  background-color: white;
  color: lightgreen;
  text-decoration: none;
  padding: 10px;
  margin: 5px 10px;
  border: 1px solid lightgreen;
  font-weight: 900;
  border-radius:10px 10px 10px 10px;
  box-shadow: 5px 5px 0px 0px lightgreen;
}

.comment-edit-btn:active {
  box-shadow: none;
  position: relative;
  top: 5px;
  left: 5px;
}

/* いいね（メッセージ）マークのCSS */
.good {
  display: flex;
}

.ungood-btn {
  color: lightblue;
  margin: 5px;
}

.good-btn {
  color: lightgray;
  margin: 5px;
}