.form {
  background-color: darkgreen;
  text-align: center;
}

.form-title {
  color: white;
}

.form-main {
  padding: 10px;
}

.content {
  width: 100%;
  height: 150px;
  padding: 10px;
}

.container {
  background-color: wheat;
  padding: 10px;
}