<%= render 'shared/header' %>

<div class="header-margin"></div>

<div class="registration-main">
  <h1>ユーザー一覧</h1>
  <% @users.each do |user| %>
    <div class="field">
      <%= link_to "#{user.nickname}", user_path(user.id) %>
    </div>
  <% end %>
</div>
<%= render 'shared/footer' %>