<%= render 'shared/header' %>

<div class="header-margin"></div>

<div class="user-title">ユーザー一覧</div>

<div class="user-contents">
  <% @users.each do |user| %>
    <div class="user-box">
      <%= link_to "#{user.nickname}", user_path(user.id), class: "user-name" %>
    </div>
  <% end %>
</div>
<%= render 'shared/footer' %>