<footer>
  <div class="footer-box1">
    <div class="footer-logo">baseball-info</div>
    <p>② 0202 baseball-info ine.</p>
  </div>
  <div class="footer-box2">
    <h1>サービス<h1><br>
    <ul>
      <li>メッセージ一覧</li>
      <li>有料会員サービス</li>
      <li>学生向けサービス</li>
      <li>ヘルプ</li>
    </ul>
  </div>
  <div class="footer-box3">
    <h1>サポート<h1><br>
    <ul>
      <li>運営会社</li>
      <li>採用情報</li>
      <li>利用規約</li>
      <li>団体向けサービス利用規約</li>
      <li>特定商取引法に基づく表示</li>
      <li>プライバシーポリシー</li>
    </ul>
  </div>
  <div class="footer-box4">
    <h1>団体向けサービス</h1><br>
    <%= link_to "baseball-info for team", "#", class: "footer-team-btn" %>
  </div>
</footer>